
body{background-color: #white;}

/*search.xml*/
#good_search_list_page{background-color:#EEEEEE;padding-bottom: 10px;position:fixed;z-index:100;width:100%; }
#cancel_search{line-height: 31px;font-size: 17px;}
#do_search{line-height: 31px;font-size: 17px;padding: 5px;background-color: #337ab7;border-radius: 5px;color: white;margin-left: 30px; }
#good_upload_page{padding-left: 0.1rem;font-size: 18px;font-weight: 500;color: #27a; }
#community_name{ width: 100%;border-radius: 25px;margin-left:10px;font-size: 16px;padding: 4px;border: none;outline: none;padding-left:10px;}
#list_number{ width: 100%;border-radius: 25px;margin-left:10px;font-size: 16px;padding: 4px;border: none;outline: none;padding-left:10px; }
#loading{ position:fixed;top:100px;left:100px; }

.good-tab-list{border-top: solid 1px;background-color: white;border-color: #EEEEEE;margin-top:55px; }
.good-tab-list .good-tab{border-bottom:solid 1px;width:100%; margin:auto;margin-top: 10px;border-color: #EEEEEE;}
.good-tab-list .good-tab img{width:80px;height:80px;margin-left: -10px;}
.good-tab-list .good-tab .tab-content{margin-left: -10px;}

/*index.xml*/
.nearby_donate_page .title{border:solid 1px;border-color:#DBDEC9;background-color: #DBDEC9;
    margin-top:20px;box-shadow: 0px 0px 20px 0px;
    font-style: italic;margin-left: 5px;}

/*detail.xml*/
#good_detail label{color:#B18F8F;}
#track_detail label{color:#B18F8F;}
#good_detail .detail-content{margin:10px;color:#8C8175;width:100%;}
.good-detail-page-nav{font-size:18px;text-align: center;background-color: #EEEEEE;width:100%;
    padding-top: 5px;padding-bottom: 10px;}
.detail-content-item{margin-left:20px;}

/*upload*/
.upload_item{margin-bottom: 20px;}
.fileinput-button{
    width:50px;
    border:solid 1px;
    border-color: #E9E9E9;
    margin-left: 10px;
}
#upload_good_info{
    margin-top:10px;
    margin-bottom:30px;
}
